.Quiz {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


.Question {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submit {
  /* Add any additional styles for the login button here */
  border-radius: 20px;
  padding: 10px 40px;
  cursor: pointer;
  background: linear-gradient(95deg, #ABE0F7 12.48%, #B4E8D0 82.73%);
  border: none;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: white
}

.Skip {
  margin-top: 20px;
  background-color: #f8f5ec;
  border: none;
  text-decoration: underline;
}
  