/* Dashboard.css */
.taskbar {
    border-radius: 8px;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* Container styles */
.dashboard-container {
    background-color: #F8F5EC;
    display: flex;
    flex-direction: row;
  }
  
  /* Sidebar styles */
  .sidebar {
    position: sticky;
    width: 10vw;
    height: 100vh;
    background-color: #ABE0F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5vh;
  }
  
  .sidebar-logo {
    width: 10vh;
    height: 10vh;
    background-color: #8EC6DD;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  /* Main content styles */
  .main-content {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  
  .content-box {
    height: 30vh;
    width: 100%;
    background-color: #B4E8D0;
  }
  
  .greeting {
    text-align: left;
    width: 100%;
  }
  
  /* Plants container styles */
  .plants-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5vh;
    background-color: #B4E8D0;
  }
  
  /* Plants header styles */
  .plants-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  
  /* Add plant button styles */
  .add-plant-button {
    background-color: white;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    box-shadow: 0.25rem 0.25rem #0A3C57;
  }

  /* Plant container styles */
.plant-container {
    width: 100%;
    background-color: white;
    box-shadow: 0.5rem 0.5rem #0A3C57;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  
  /* Plant count badge styles */
  .plant-count-badge {
    background-color: #ABE0F7;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    border: 4px solid #0A3C57;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  /* Plant circle styles */
  .plant-circle {
    background-color: #0A3C57;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    margin: 1vw;
  }
  
  /* Plant info container styles */
  .plant-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 2vw;
  }
  
  /* Plant name styles */
  .plant-name {
    margin: 0;
    font-size: 24px;
  }
  
  /* Plant type styles */
  .plant-type {
    font-size: 18px;
  }

  .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Progress header styles */
  .progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .progress-bar {
    width: 100%;
    background-color: #F8F5EC;
    height: 2vh;
  }

  /* Profile container styles */
.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* Profile image styles */
  .profile-image {
    background-color: #0A3C57;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    margin: 1vw;
  }
  
  /* Profile info container styles */
  .profile-info-container {
    display: flex;
    flex-direction: column;
  }
  
  /* Profile name styles */
  .profile-name {
    margin: 0;
    font-size: 24px;
  }
  
  /* Profile description styles */
  .profile-description {
    margin: 0;
  }

/* Task bar styles */
.taskbar {
    background-color: white;
    border: 2px solid #92D3B5;
  }
  
  /* Finished task styles */
  .finished-task {
    background-color: #E7E7E7;
    border: 2px solid black;
  }
  
  /* Task content container styles */
  .task-content-container {
    display: flex;
    align-items: center;
  }
  
  /* Task icon styles */
  .task-icon {
    background-color: #B4E8D0;
    width: 5vh;
    height: 5vh;
  }
  
  /* Task message styles */
  .task-message {
    margin: 0;
    margin-left: 10px;
  }

  .health-status {
    background-color: #B4E8D0;
    border-radius: 10px;
    width: fit-content;
  }

  .upgrade-button {
    background-color: #B4E8D0;
    border-radius: 10px;
    justify-content: flex-start;
    text-align: center;
  }

  .learn-more-button {
    text-decoration: 'underline';
    justify-content: flex-start;
    text-align: center;
  }
  