<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.nwhack2024.mapper.PlantsMapper">

    <resultMap id="BaseResultMap" type="com.github.nwhack2024.domain.entity.Plants">
            <id property="plantId" column="plant_id" jdbcType="BIGINT"/>
            <result property="plantName" column="plant_name" jdbcType="VARCHAR"/>
            <result property="plantDescription" column="plant_description" jdbcType="VARCHAR"/>
            <result property="careLevel" column="care_level" jdbcType="INTEGER"/>
            <result property="sunLevel" column="sun_level" jdbcType="VARCHAR"/>
            <result property="suitableClimate" column="suitable_climate" jdbcType="VARCHAR"/>
            <result property="suitableSeason" column="suitable_season" jdbcType="VARCHAR"/>
            <result property="harvestTime" column="harvest_time" jdbcType="INTEGER"/>
            <result property="plantGraphicUrl" column="plant_graphic_url" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        plant_id,plant_name,plant_description,
        care_level,sun_level,suitable_climate,
        suitable_season,harvest_time,plant_graphic_url,
        is_deleted
    </sql>
</mapper>
