<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.nwhack2024.mapper.PlantCareTaskMapper">

    <resultMap id="BaseResultMap" type="com.github.nwhack2024.domain.entity.PlantCareTask">
            <id property="plantCareTaskId" column="plant_care_task_id" jdbcType="BIGINT"/>
            <result property="plantCareTaskName" column="plant_care_task_name" jdbcType="VARCHAR"/>
            <result property="plantId" column="plant_id" jdbcType="INTEGER"/>
            <result property="stageId" column="stage_id" jdbcType="INTEGER"/>
            <result property="dayOffset" column="day_offset" jdbcType="INTEGER"/>
            <result property="instructionType" column="instruction_type" jdbcType="INTEGER"/>
            <result property="instructions" column="instructions" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        plant_care_task_id,plant_care_task_name,plant_id,
        stage_id,day_offset,instruction_type,
        instructions,is_deleted
    </sql>
</mapper>
