<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.nwhack2024.mapper.PlantsMapper">

    <resultMap id="BaseResultMap" type="com.github.nwhack2024.domain.Plants">
            <id property="plantID" column="PlantID" jdbcType="BIGINT"/>
            <result property="plantName" column="PlantName" jdbcType="VARCHAR"/>
            <result property="plantDescription" column="PlantDescription" jdbcType="VARCHAR"/>
            <result property="careLevel" column="CareLevel" jdbcType="INTEGER"/>
            <result property="suitableClimate" column="SuitableClimate" jdbcType="VARCHAR"/>
            <result property="suitableSeason" column="SuitableSeason" jdbcType="VARCHAR"/>
            <result property="harvestTime" column="HarvestTime" jdbcType="INTEGER"/>
            <result property="plantGraphicURL" column="PlantGraphicURL" jdbcType="VARCHAR"/>
            <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        PlantID,PlantName,PlantDescription,
        CareLevel,SuitableClimate,SuitableSeason,
        HarvestTime,PlantGraphicURL,is_deleted
    </sql>
</mapper>
