<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.nwhack2024.mapper.UserPlantMapper">

    <resultMap id="BaseResultMap" type="com.github.nwhack2024.domain.entity.UserPlant">
            <id property="userPlantId" column="user_plant_id" jdbcType="BIGINT"/>
            <result property="userPlantName" column="user_plant_name" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="plantId" column="plant_id" jdbcType="INTEGER"/>
            <result property="stageId" column="stage_id" jdbcType="INTEGER"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="datePlanted" column="date_planted" jdbcType="DATE"/>
            <result property="dateLeft" column="date_left" jdbcType="INTEGER"/>
            <result property="currentCondition" column="current_condition" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_plant_id,user_plant_name,user_id,
        plant_id,stage_id,quantity,
        date_planted,date_left,current_condition,
        is_deleted
    </sql>
</mapper>
