<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.nwhack2024.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.github.nwhack2024.domain.User">
            <id property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="latestLogin" column="latest_login" jdbcType="TIMESTAMP"/>
            <result property="creationDate" column="creation_date" jdbcType="TIMESTAMP"/>
            <result property="bio" column="bio" jdbcType="VARCHAR"/>
            <result property="userLevel" column="user_level" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,user_name,phone_number,
        password,email,avatar_url,
        latest_login,creation_date,bio,
        user_level,is_deleted
    </sql>
</mapper>
