<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.nwhack2024.mapper.UserTasksMapper">

    <resultMap id="BaseResultMap" type="com.github.nwhack2024.domain.UserTasks">
            <id property="userTasksID" column="UserTasksID" jdbcType="BIGINT"/>
            <result property="plantCareTaskID" column="PlantCareTaskID" jdbcType="INTEGER"/>
            <result property="userPlantID" column="UserPlantID" jdbcType="INTEGER"/>
            <result property="completed" column="Completed" jdbcType="INTEGER"/>
            <result property="taskCompletedNotes" column="TaskCompletedNotes" jdbcType="VARCHAR"/>
            <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        UserTasksID,PlantCareTaskID,UserPlantID,
        Completed,TaskCompletedNotes,is_deleted
    </sql>
</mapper>
